:root {
    font-size: 16px;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: .8125rem;
}

a {
    text-decoration: none;
}

a.nav-link {
    color: #434343;
}

a.footer-link {
    color: #505050;
}

.search-buttons {
    font-size: .875rem;
    color: #434343;
}